<mat-card>
  <mat-card-header>
    Todo
  </mat-card-header>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of items | todos: true">
      <mat-checkbox [(ngModel)]="item.checked">{{item.description}}</mat-checkbox>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <mat-card-header>
    Todo
  </mat-card-header>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of items | todos: false">
      <mat-checkbox [(ngModel)]="item.checked">{{item.description}}</mat-checkbox>
    </mat-list-item>
  </mat-list>
</mat-card>
